<div class="footer-wrapper">
  <footer class="footer"
          layout="row"
          layout-md="column"
          layout-sm="column"
          layout-align="start center"
          layout-align-md="center center"
          layout-align-sm="center center"
          role="contentinfo">
    <small class="footer__rights md-body-1" flex-order-md="3" flex-order-sm="3">
      &copy; {{ ::vm.currentYear }} <a href="" class="footer__rights-link">Soopahero Inc.</a>
      <span translate-once="SH.FOOTER.ALL_RIGHTS_RESERVED"></span>.
    </small>

    <span flex flex-order-md="2" flex-order-sm="2"></span>

    <div class="footer__links" layout-sm="column" flex-order-md="1" flex-order-sm="1">
      <md-button ng-click="main.openLoginForm($event)" class="sh-button sh-button--footer" translate-once="SH.FOOTER.LOG_IN" aria-label="Log in"></md-button>
      <md-button href="" class="sh-button sh-button--footer" translate-once="SH.FOOTER.SIGN_UP" aria-label="Sign up"></md-button>
      <md-button href="" class="sh-button sh-button--footer" translate-once="SH.FOOTER.TERMS_AND_CONDITIONS" aria-label="Terms and Conditions"></md-button>
      <md-button href="" class="sh-button sh-button--footer" translate-once="SH.FOOTER.CONTACT_US" aria-label="Contact Us"></md-button>
    </div>
  </footer>
</div>
