<div class="header-wrapper">
  <header class="header" layout="row" layout-sm="column" layout-align="start center" role="banner">

    <a href="" class="header__logo-link">
      <img src="../../../assets/images/soopahero-logo.svg" alt="Soopahero logo" class="header__logo-img">
    </a>

    <span flex></span>
    <div class="header__actions">
      <md-button href="" class="sh-button sh-button--login">{{ vm.text.logIn }}</md-button>
      <md-button href="" class="sh-button sh-button--signup">{{ vm.text.signUp }}</md-button>
    </div>
  </header>
</div>
