<div class="header-wrapper">
  <header class="header" layout="row" layout-sm="column" layout-align="start center" role="banner">

    <a ng-href="{{ $root.home }}" class="header__logo-link">
      <img src="../../../assets/images/soopahero-logo.svg" alt="Soopahero logo" class="header__logo-img">
    </a>

    <span flex></span>
    <!-- if user not logged in -->
    <div class="header__actions" ng-if="!vm.isUserLoggedIn">
      <md-button ng-click="main.openLoginForm($event)" href="" class="sh-button sh-button--login">{{ 'SH.HEADER.LOG_IN' | translate }}</md-button>
      <md-button ng-click="main.openSignUpForm($event)" href="" class="sh-button sh-button--signup">{{ 'SH.HEADER.SIGN_UP' | translate }}</md-button>
    </div>
    <!-- if user logged in -->
    <!-- ... -->
  </header>
</div>
