<form class="sign-up-form sh-form" layout="column" ng-submit="vm.register()">

  <div class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_USERNAME"></label>
    <input type="text" class="sh-input-field" ng-model="vm.user.nickname">
  </div>
  <div class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_EMAIL"></label>
    <input type="email" class="sh-input-field" ng-model="vm.user.email">
  </div>

  <div class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_PASSWORD"></label>
    <input type="password" class="sh-input-field" ng-model="vm.user.password">
  </div>

  <div class="sh-input-container sh-text md-body-1" layout="row" layout-align="start center">
    <div>
      <span translate-once="SH.SIGN_UP.HAVE_AN_ACCOUNT"></span>?
      <a href="" ng-click="vm.showLoginDialog($event)" class="sign-up-form__login-link sh-link" translate-once="SH.SIGN_UP.LOG_IN"></a>
    </div>
    <span flex></span>
    <md-button class="sh-button sh-button--login sh-button--less-margin"
               type="submit"
               translate-once="SH.SIGN_UP.SIGN_UP"
               aria-label="Sign up"></md-button>
  </div>

</form>
