<form class="sign-up-form sh-form"
      layout="column"
      name="signUpForm"
      ng-submit="vm.register()"
      novalidate>

  <div ng-class="{ 'has-error': signUpForm.nickname.$touched && signUpForm.nickname.$invalid, 'has-success': signUpForm.nickname.$touched && signUpForm.nickname.$valid }" class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_USERNAME"></label>
    <input class="sh-input-field"
           name="nickname"
           ng-model="vm.user.nickname"
           ng-model-options="{ debounce: 500 }"
           ng-minlength="5"
           ng-maxlength="60"
           spellcheck="false"
           type="text"
           required>
    <div ng-messages="signUpForm.nickname.$error" ng-if="signUpForm.nickname.$touched" role="alert">
      <div ng-messages-include="app/components/error-messages/error-messages.html"></div>
    </div>
  </div>
  <div ng-class="{ 'has-error': signUpForm.email.$touched && signUpForm.email.$invalid, 'has-success': signUpForm.email.$touched && signUpForm.email.$valid }" class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_EMAIL"></label>
    <input class="sh-input-field"
           name="email"
           ng-model="vm.user.email"
           ng-model-options="{ debounce: 500 }"
           ng-minlength="6"
           ng-maxlength="60"
           type="email"
           spellcheck="false"
           required>
    <div class=sh-error-messages" ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched" role="alert">
      <p class="sh-error-messages__item" ng-message="email" translate-once="SH.ERRORS.EMAIL"></p>
      <div ng-messages-include="app/components/error-messages/error-messages.html"></div>
    </div>
  </div>

  <div ng-class="{ 'has-error': signUpForm.password.$touched && signUpForm.password.$invalid, 'has-success': signUpForm.password.$touched && signUpForm.password.$valid }" class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.SIGN_UP.LABEL_PASSWORD"></label>
    <input class="sh-input-field"
           name="password"
           ng-model="vm.user.password"
           ng-model-options="{ debounce: 500 }"
           ng-minlength="6"
           ng-maxlength="60"
           type="password"
           required>
    <div class=sh-error-messages" ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched" role="alert">
      <div ng-messages-include="app/components/error-messages/error-messages.html"></div>
    </div>
  </div>

  <div class="sh-input-container sh-text md-body-1" layout="row" layout-align="start center">
    <div>
      <span translate-once="SH.SIGN_UP.HAVE_AN_ACCOUNT"></span>?
      <a href="" ng-click="vm.showLoginDialog($event)" class="sign-up-form__login-link sh-link" translate-once="SH.SIGN_UP.LOG_IN"></a>
    </div>
    <span flex></span>
    <md-button class="sh-button sh-button--login sh-button--less-margin"
               ng-disabled="signUpForm.$invalid"
               type="submit"
               translate-once="SH.SIGN_UP.SIGN_UP"
               aria-label="Sign up"></md-button>
  </div>

</form>
