<md-dialog aria-label="Log in">
  <md-dialog-content class="login-dialog sh-dialog" layout="row">

    <div class="sh-dialog-form-wrapper">
      <section>
        <h2 class="login-dialog__title sh-dialog-title">
          <b class="block" translate-once="SH.LOGIN.TITLE"></b>
          <span class="block" translate-once="SH.LOGIN.SUB_TITLE"></span>
        </h2>
        <ng-include src="'app/components/login/login-form.html'"></ng-include>
        <!-- include facebook and twitter buttons -->
      </section>
    </div>

    <sh-dialog-bg image-src="assets/images/login-background.jpg"></sh-dialog-bg>
    <sh-dialog-close></sh-dialog-close>

  </md-dialog-content>
</md-dialog>
