<md-dialog aria-label="Forgot password">
  <md-dialog-content class="forgot-password-dialog sh-dialog" layout="row">

    <div class="sh-dialog-form-wrapper">
      <section>
        <h2 class="forgot-password-dialog__title sh-dialog-title">
          <span translate-once="SH.FORGOT_PASSWORD.TITLE"></span>?
        </h2>
        <h3 class="forgot-password-dialog__subtitle" translate-once="SH.FORGOT_PASSWORD.SUB_TITLE"></h3>
        <ng-include src="'app/components/login/forgot-password/forgot-password-form.html'"></ng-include>
      </section>
    </div>

    <sh-dialog-bg image-src="assets/images/forgot-password-background.jpg"></sh-dialog-bg>
    <sh-dialog-close ng-click="vm.closeDialog()"></sh-dialog-close>

  </md-dialog-content>
</md-dialog>
