<form layout="column">

  <div class="sh-input-container" layout="column">
    <label class="sh-label" translate-once="SH.FORGOT_PASSWORD.EMAIL"></label>
    <input type="email" class="sh-input-field">
  </div>

  <div class="sh-input-container" layout="row" layout-sm="column">
    <md-button ng-click="vm.hideDialog()"
               class="sh-button sh-button--cancel"
               translate-once="SH.FORGOT_PASSWORD.CANCEL"
               aria-label="Cancel"
               flex="33" flex-sm="100" flex-order-sm="2"></md-button>
    <span flex></span>
    <md-button ng-click="vm.sendInstructions()"
               class="sh-button sh-button--fp"
               translate-once="SH.FORGOT_PASSWORD.SEND_INSTRUCTIONS"
               aria-label="Submit form"
               flex="66" flex-sm="100" flex-order-sm="1"></md-button>
  </div>

</form>
