md-dialog
  border-radius: 6px
  background: #FFFFFF
  overflow: visible

// overwrite fab button styles
.md-button.sh-dialog-close
  background-color: #fff
  height: 36px
  line-height: 36px
  margin: 0
  width: 36px
  &:not([disabled]):hover,
  &:not([disabled]):focus
    background-color: darken(#fff, 10%)
  md-icon
    width: 16px
    height: 16px

.sh-dialog
  position: relative
  overflow: visible

  &-close
    position: absolute
    top: 0
    right: -51px
    @media only screen and (max-width: 959px)
      top: 3px
      right: 3px
      box-shadow: none !important

  &-title
    color: $sh-text
    font-size: 18px
    font-weight: normal
    line-height: 21px
    margin: 0

  &-bg
    width: 43.098591549296%
    border-top-right-radius: 6px
    border-bottom-right-radius: 6px
    overflow: hidden
    &__image
      display: block

  &-form-wrapper
    width: 56.901408450704%
    padding: 40px 65px 44px 69px
    @media only screen and (max-width: 959px)
      width: 100%
      max-width: 500px
      margin: 0 auto
      padding: 25px 30px
