.sh-form
  margin: 33px 0

.sh-input

  &-container
    margin: 0 0 11px 0

  &-field
    border: 1px solid #E5E5E5
    border-radius: 4px
    color: $sh-text
    font-size: 14px
    height: 36px
    padding: 0 14px
    width: 270px
    line-height: 16px
    @media only screen and (max-width: 959px)
      min-width: 270px
      width: 100%
    @media only screen and (max-width: 599px)
      min-width: 100%
      width: 100%


.sh-label
  font-size: 13px
  color: #929292
  line-height: 15px
  margin: 0 0 5px 0
